<h3>Workflows checker</h3>
<br/>
<form action="{{.Base}}/stats" method="post" name="form" id="form" class="form">
    <div class="form-item">
        <div class="is-row">
            <div class="is-col is-80">
            <textarea name="workflows" placeholder="insert workflow names here, one per line ..."></textarea>
            </div>
            <div class="is-col is-20">
            <button class="button is-small is-secondary is-right">Search</button>
            </div>
        </div>
    </div>
</form>
