<!DOCTYPE HTML>
<!-- web_top.tmpl -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head profile="http://www.w3.org/2005/11/profile">
    <title>CMS workflows checker system</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="author" content="Valentin Kuznetsov (vkuznet at gmail dot com)" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="Copyright" content="(CC), 2022 CMS collaboration." />
    <meta name="Rating" content="General" />

    <link rel="stylesheet" type="text/css" href="{{.Base}}/css/main.css"/>
    <!-- Kube CSS -->
    <link rel="stylesheet" type="text/css" href="{{.Base}}/css/kube.min.css"/>
</head>
<body class="yui-skin-sam">

<div id="banner" class="is-navbar-container">
    <div class="is-brand">
        <b class="is-logo">CMS workflow check system</b>
    </div>
</div>

<!-- end of web_top.tmpl -->
